.nav-bar {
    height: 50px;
    width: 100vw;
    background-color: black;
    display: flex;
    position: fixed;
}

.nav-bar-items {
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-item:hover {
    cursor: pointer;
}

.logo {
    font-style: italic;
}