.sponser-page {
    background-color: #2f0353;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.sponser-heading {
    font-family: "DM Serif Text", serif;
}